body {

	font-family: Roboto;

	background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
	 /*background-image: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed; */
}

ul {

	list-style: none;
	margin: 0;
	padding: 0;

}

h1 {

	background: #FC466B;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;

}

.fa-plus {
	float: right;
	cursor: pointer;
	
}

.fa-plus:hover {
	transform: rotate(180deg);
	transition: .5s;
}


li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
	cursor: pointer;
}


li:hover span {

	width: 15%;
	opacity: 1;
	font-size: 1.5rem;
}






input {

	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);

}

input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container {

	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
	color: gray;
	text-decoration: line-through;;
}